// Bootstrap colors //
$brand-primary: #755db9;
$gray: #5F5D5D;

// Colors //
$color__faint: #f0f2f1;
$color__gray: #525252;
$color__light_gray: #aeaeae;
$color__lighter_gray: #dee0df;

// Fonts //
$font-family-base: 'Source Sans Pro', sans-serif;
